/create_data/
/tests/actual_vs_forecast.png
/tests/bike_sharing_analysis.png
/tests/bike_sharing_comparison.png
/tests/bike_test.py
/tests/churn_test.py
/tests/compare_and_plot.py
/tests/cv_metric_comparison.png
/tests/improved_comparison.png
/tests/compare_murphet_prophet.py
/tests/bike_rentals_compare.py
/tests/tuned_parameters_compare.py
/examples/data/Churn_Rate.csv
/examples/Test_Churn_Rate.ipynb
/src/murphet/churn_model_parallel.py
/src/murphet/model.stan
/src/murphet/murphet_beta
/src/murphet/murphet_model
/src/murphet/murphet_model.stan
/src/murphet/improved_model.stan
/src/murphet/improved_model_parallel.stan
